body, body * { 
    margin: 0; 
    padding: 0;
    font-family: "Lucida Bright", serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 1fr;
    height: 100vh;
}

.canvas__container {
    display: grid;
    overflow: hidden;
    background-color:  #ebf5fb ;
    border: solid 1em; 
    border-color: rgba(115, 172, 236, 0.322);
}

#canvas__container__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2%;
    row-gap: 1em;
}