#help__container{
    display: none;
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 8px 2px #000;    
}

#help__container:target{
    display: block;
    overflow: hidden;
}

.access_aid {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;
}

#access_nav {
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}

#access_top {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}

#help__container__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-auto-rows: minmax(100px, auto);
    column-gap: 5%;
    row-gap: 1em;
    
}

#help__container #help__container__grid div{
    text-align: justify;
    text-decoration: none;
    padding: 6px;
}
#help__container #help__container__grid li{
    list-style-type: none;
}
