.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0px;
    background-color: #212f3c;
}

.nav__container__mobile{
    display: none;
}

.progress {
    width: 150px;
    height: 20px;
    margin-top: 22px;
    background-color: #ebf5fb; 
}

#progress__text{
    width: inherit;
    height: inherit;
    /* padding: 10px 0px; */
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    display: inline-block;
}

#progress__bar {
    width: 30%;
    padding: 10px 0px;
    background-color: #2980b9;
}

.bottom__nav {
    border: none;
    background-color: #212f3c;
    cursor: pointer;
    font-size: 15px;
    line-height: 2;
}

.bottom__nav:hover {
    color: #ebf5fb;
    transform: scaleX(1.1);
}

.play {
    color: white;
}

.dropup {
    position: relative;
    display: inline-block;
    /* align-content: center; */
    /* align-items: center; */
}

.dropup__options {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    bottom: 64px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-sizing: border-box;
}

.dropup__options a, input, label {
    display: block;
    color: #2980b9;
    text-decoration: none;
    padding: 8px 12px;
}

.dropup__options a:hover {
    background-color: #ebf5fb;
}

.dropup:hover .dropup__options {
    display: block;
}

.solve {
    color: white;
    height: 100%;
}

.reset {
    color: white;
    height: 100%;
}

.load {
    color: white;
    height: 100%;
}

#load__url {
    border: none;
    width: 90%;
    border-bottom: 1px solid #2980b9;
}

#submit__image {
    float: right;
    color: #ebf5fb;
    background-color: #2980b9;
    margin-right: 5px;
    margin-bottom: 5px;
}

.save {
    color: white;
    height: 100%;;
}

.difficulty {
    color: white;
    height: 100%;
}

input[type="range"] {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    height: 10px;
    width: 100%;
    box-shadow: none;
    background-color: #ebf5fb;
    left: 0;
    position: relative;
    transition: all .5s ease;
}


.bottom__border {
    border-bottom: 1px solid #2980b9;  
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    background: #2980b9;
    border-radius: 1.3px;
    cursor: pointer;
}

.github, .css {
    text-align: center; 
    margin: 1em 0;
}

.github__link, .css__link{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.github__logo {
    vertical-align: middle;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
    background-color: #ebf5fb;
    height: 25px;
}

.css__logo {
    vertical-align: middle;
    border-radius: 5px;
    height: 35px;
}

/* MOBILE */
@media all and (max-width: 700px) {
    .container {
        background-color: #ebf5fb;
    }

    .nav__container {
        display: none;
        flex-direction: column;
        justify-items: center;
    }

    .nav__container__mobile{
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        width: 40px;
    }

    .arrow {
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        background: transparent;
    }

    .arrow__up {
        border-bottom: 20px solid #2980b9;
        bottom: 0;
    }
      
    .arrow__down {
        border-top: 20px solid #2980b9;
        bottom: 180px;
    }

    .bottom__nav {
        width: 100%;
    }

    .progress{
        width: 100%;
    }

    .dropup {
        align-self: center;
        width: 100%;
    }

    .dropup__options {
        bottom: 0px;
    }

    .dropup__options:hover {
        width: 100%;
    }
    
    .progress, .github, .css{
        display: none;
    }
}